@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik+Bubbles&family=Shadows+Into+Light&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}
@media (prefers-color-scheme: dark) {
}
body {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(209, 250, 229, 0.2);
  overflow-y: scroll;
}
.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}
/* .shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
} */
/* .permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
} */
.brown {
  color: #5e3425;
}
.Bg-brown {
  background-color: #5e3425;
  &:hover {
    background-color: #442a21;
  }
}
.selected {
  background-color: #e3f7ed; /* 背景色をグレーに設定 */
}
.listItem {
  width: 87%;
}
.w-90 {
  width: 90%;
}
.draggable-bg-transition {
    transition: background-color 0.3s ease;
}
  

@layer utilities {
  .error {
    @apply text-stone-400 absolute top-0 left-20 pl-1 pt-2.5;
  }
  .Todolist {
    @apply pt-2 pb-2.5 pl-3 rounded mb-2 text-neutral-900;
  }
}
